/*Generelt*/

body {
  background-color: #e1f5fe;
  font-family: quatro, sans-serif;
  font-style: normal;
  font-weight: 100;
}

h1{
  font-size: 36pt;

}

h1, h2, h3, h4, h5 {
  font-weight: bold;
}



/*
Farver
*/

$hvid: #ffffff;


/*

navigation

*/

.nav-wrapper {
  padding: 0 70px;
}

.brand-logo img {
  height: 50px;
}

/*
forside
*/

//PRODUKTSIDE START
.gridomdethele{
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
}
.hovedproduktbillede{
  background-color: #00a896;
  max-height: 400px;
  grid-column: 1/17;
}


.knap{
  background-color: #05668d;
  height: 50px;
  text-align: center;
  grid-column: 1/17;
  margin-top: 5%;
}

#text{
  display:none;
}
#text2{
  display:none;
}

.mobilmargin{
  margin: 5% 10%;
}
.smagogantal{
  background-color: #05668d;
  display: flex;
  padding: 5%;
  justify-content: space-around;
}

.smag{
  grid-column: 1/9;
}
.antal{
  grid-column: 9/17;
  input{
    color: #fff;
  }
}

.onecolumn{
  grid-column: 1/17;
}

.checkboks{
  grid-column: 1/17;
  .fa-check-circle{
    color: #05668d;
    margin: 10px 10px 0 0;
  }
}

.andre{
  background-color: #02c39a;
}

.underproduktbillede{
  background-color: #00a896;
  max-height: 200px;
}

.et{
  grid-column: 1/9;
}
.to{
  grid-column: 9/17;
}

//PRODUKTSIDE SLUT

// Variabler - med størrelser

@media screen and (min-width: 768px) {
  // Alt der ændres i tablet stående fra mobil
}

@media screen and (min-width: 992px) {
  // Alt der ændres i tablet liggende fra mobil og tablet stående

}

@media screen and (min-width: 1200px) {
  // Alt der ændres i computer fra mobil, tablet stående og tablet liggende
}
@media print {
  // Alt der gælder for print specifikt
}










