/*Generelt*/

body {




  font-style: normal;
  font-family: 'quatro', sans-serif;
  font-size: 14pt;
  overflow-x: hidden;

}

h1{
  font-family: 'quatro-slab', serif;
  font-weight: 600;
  font-size: 24pt;
  text-align: center;
}

h1, h2, h3, h4, h5 {
}

/*
Farver
*/

$hvid: #ffffff;
$moerkegroen: #05668d;
$groen2: #028090;
$groen3: #00a896;
$groen4: #02c39a;

/*
Mixins
*/

@mixin button {
  width: 175px;
  height: 55px;
  font-family: 'quatro', sans-serif;
  font-weight: 500;
  font-size: 16pt;
  color: $hvid;
  background-color: $moerkegroen;
  border: none;
  transition: 0.25s;

  &:hover {
    cursor: pointer;
    transform: scale(1.1,1.1);
    transition: 0.25s;
  }
}

/*
navigation
*/

nav {
  background-color: $moerkegroen;
  position: fixed;
  z-index: 1;
}

.nav-wrapper {
  padding: 0 70px;
}

nav .brand-logo {
  right: 65%;
}

.brand-logo img {
  margin-top: 5px;
  height: 45px;
  transition: 0.25s;

  &:hover {
    transform: scale(1.1,1.1);
    transition: 0.25s;
  }
}


/*
forside
*/

//PRODUKTSIDE START
.gridomdethele{
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
}
.hovedproduktbillede{
  background-color: #00a896;
  max-height: 400px;
  grid-column: 1/17;
}


.knap{
  background-color: #05668d;
  height: 50px;
  text-align: center;
  grid-column: 1/17;
  margin-top: 5%;
}

#text{
  display:none;
}
#text2{
  display:none;
}

.mobilmargin{
  margin: 5% 10%;
}
.smagogantal{
  background-color: #05668d;
  display: flex;
  padding: 5%;
  justify-content: space-around;
}

.smag{
  grid-column: 1/9;
}
.antal{
  grid-column: 9/17;
  input{
    color: #fff;
  }
}



.onecolumn{
  grid-column: 1/17;
}


.checkboks{
  grid-column: 1/17;
  .fa-check-circle{
    color: #05668d;
    margin: 10px 10px 0 0;
  }
}


.andre{
  background-color: #02c39a;
}

.underproduktbillede{
  background-color: #00a896;
  max-height: 200px;
}

.et{
  grid-column: 1/9;
}
.to{
  grid-column: 9/17;
}

//blog

.blogQuote {
  font-size: 24px;
}

.blogPost{
  padding: 5vw;
}

.andreBlog {
  

  padding: 5vw;
  background-color: $moerkegroen;
  color: white;

  a{
    color: white;
  }

}

#boxTitle2 {
  height: 375px;
  padding-top: 125px;
  background-image: url("../images/graphicPlaceholder2.png");
  background-size: cover;
  background-position: center;

  #Title2{
    margin: 0;
    color: $moerkegroen;
    text-align: center;
    font-weight: 600;
  }

  #subTitle2 {
    font-size: 16pt;
    color: $moerkegroen;
    text-align: center;
    margin: 0;
    font-weight: 600;
  }
}

//fejlside
.fejl{
  background-color: $groen2;
  color: white;
  padding: 50px 0;
  text-align: center;
  height: 60vh;
}









//PRODUKTSIDE SLUT

#boxTitle {
  height: 425px;
  padding-top: 175px;
  background-image: url("../images/graphic1.png");
  background-size: cover;
  background-position: center;

  #Title{
    margin: 0;
    color: $moerkegroen;
    text-align: center;
    font-weight: 600;
  }

  #subTitle {
    font-family: 'quatro-slab', serif;
    font-size: 16pt;
    color: $moerkegroen;
    text-align: center;
    margin: 0;
    font-weight: 600;
  }
}

#graphicPlaceholder {
  display: none;
}

#weRecommend {
  height: 375px;
  background-color: $groen4;
  text-align: center;
  color: $hvid;
  padding: 40px;

  h1 {
    margin: 0;
  }

  button {
    @include button;
  }

  #recommendText p {
    text-align: start;
  }
}

.productPlaceholder {
  display: block;
  height: 375px;
  width: auto;
}

.proteinCategory {
  height: 125px;
  text-align: center;
  padding: 35px 0;
  background-color: $groen4;
  color: $hvid;

  button {
    @include button;
  }
}

#proteinBlog {
  height: 250px;
  text-align: center;
  padding: 25px;
  background-color: $groen3;

  h1 {
    color: $hvid;
  }

  button {
    @include button;
  }
}

#proteinTestimonial {
  padding: 40px;
  color: $moerkegroen;

  h1 {
    margin: 0;
  }
}

#newsletter {
  height: 375px;
  text-align: center;
  padding: 35px 0;
  background-color: $groen4;

  h1 {
    color: $hvid;
  }

  form {


    input[type=text] {
      background-color: $hvid;
      padding: 0 10px;
      width: 250px;
      margin: 35px;
    }

    input[type=submit] {
      @include button
    }
  }
}

.page-footer {
  background-color: $moerkegroen;
  font-family: 'quatro', sans-serif;

    li {
      padding-bottom: 20px;
    }

  #SoMe {
    display: flex;
    justify-content: space-around;

    a {
      color: $hvid;
    }
  }
}

#boxProduct {
  height: 425px;
  padding-top: 200px;
  background-image: url("../images/graphic3.png");
  background-size: cover;
  background-position: -380px 0;

  #Product{
    margin: 0;
    color: $moerkegroen;
    text-align: center;
    font-weight: 600;
  }
}

#productPage {
  height: 375px;
  background-color: $groen4;
  text-align: center;
  color: $hvid;
  padding: 40px;

  h1 {
    margin: 0;
  }

  button {
    @include button;
  }

  #productText p {
    text-align: start;
  }
}

#categoryBox {
  display: flex;
  flex-flow: row wrap;
  width: 100vw;

  img {
    width: 50vw;
    height: auto;
  }

  .proteinCategory {
    width: 50vw;
    height: 125px;

    p {
      margin: 0;
    }
  }
}

.categoryButton {
  background-color: $groen4;

  button {
    @include button;
    width: 100%;
  }
}

#productFilter {
  display: flex;
  height: 40px;
  width: 100%;
  background-color: $moerkegroen;
  color: $hvid;

  p {
    padding-left: 20px;
    height: 40px;
    line-height: 40px;
    margin: 0;
    width: 50%;
  }

  select {
    background-color: $hvid;
    color: $moerkegroen;
    height: 40px;
    width: 50%;
  }
}


#notFound {
  height: 375px;
  background-color: $groen4;
  color: $hvid;
  padding: 125px 5vw;
  text-align: center;

  a {
    text-decoration: underline;
    color: $hvid;
  }

  h1 {
    margin-top: 0;
  }
}

@media screen and (min-width: 768px) {
  // Alt der ændres i tablet stående fra mobil


  nav .brand-logo {
    right: 80%;
  }

  .brand-logo {
    img {
      margin: 10px 0 0 0;
    }
  }



  #boxTitle {
    height: 512px;
    padding-top: 206px;
    background-position: left;

    #Title{
      font-size: 48pt;
    }

    #subTitle {
      font-size: 24pt;
    }
  }

  #weRecommend {
    padding: 0;
    background-image: url("../images/graphic2.png");
    background-repeat: no-repeat;
    background-size: cover;

    h1{
      padding: 2.5vh 0;
    }

    #weRecommendBox {
      display: flex;

      #graphicPlaceholder {
        display: block;
        width: 375px;
        height: 375px;
      }

      #recommendText {
        width: 375px;
        height: 375px;
        padding: 0 5vw 5vw 5vw;
      }
    }
  }

  #proteinBlog {
    background-image: url("../images/graphic4.png");
    background-size: cover;
  }

  #productBox {
    display: flex;

    .productPlaceholder {
      width: 50vw;
      height: auto;
    }

    #productSupplements {
      display: none;
    }
  }

  #newsletter {
    height: 250px;

    h1 {
      margin: 0 0 40px 0;
    }
  }

  #productPage {

    #productText p {
      margin: 5vw 25vw;
      text-align: start;
    }
  }

  #categoryBox {
    .proteinCategory {
      width: 50vw;
      height: 125px;

      p {
        margin-top: 15px;
      }
    }
  }

  #boxProduct {
    background-position: center;
  }

  #notFound {
    height: 500px;
    padding: 200px 250px 150px;

  }

  //blog

  .blogPost{

    padding: 5vw 15vw;

  }

  .andreBlog {


    padding: 5vw 15vw;
  }


}

@media screen and (min-width: 992px) {
  // Alt der ændres i tablet liggende fra mobil og tablet stående
}

@media screen and (min-width: 1200px) {
  // Alt der ændres i computer fra mobil, tablet stående og tablet liggende

  nav .brand-logo {
    right: 90%;
  }

  #boxTitle {
    height: 100vh;
    padding-top: 40vh;

    #Title{
      font-size: 48pt;
    }

    #subTitle {
      font-size: 24pt;
    }
  }

  #weRecommend {
    height: 640px;
    padding: 0;

    h1{
      padding: 5vh 0;
    }

    #weRecommendBox {
      display: flex;
      overflow: hidden;

      #graphicPlaceholder {
        width: 50vw;
        height: 960px;
      }

      #recommendText {
        width: 50vw;
        padding: 15vh 15vw;
      }
    }
  }

  #productBox {
    display: flex;

    .hoverBox {
      position: relative;
    }

    .hoverBox:hover .proteinCategory {
      opacity: 1;
    }

    .productPlaceholder {
      height: auto;
      display: block;
      width: 100%;
    }

    .proteinCategory {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: .25s ease;

      button {
        margin: 25vh 0;
      }
    }

    #productSupplements {
      display: block;
    }
  }

  #proteinTestimonial {

    #proteinTestimonialBox {
      display: flex;
      padding: 2.5vw 5vw;
    }

    p {
      padding: 2.5vw 5vw;
    }
  }

  #proteinBlog {

    button {
      margin: 0 40%;
    }
  }

  #newsletter {
    height: auto;
    display: flex;
    padding-left: 27.5vw;

    h1 {
      margin-top: 40px;
    }
  }

  #topProtein {
    display: none;
    color: $hvid;
    cursor: pointer;
    position: fixed;
    bottom: 70px;
    right: 120px;
    background-color: $moerkegroen;
    border-radius: 40px;
    width: 40px;
    height: 40px;
    transition: 0.25s;
    text-align: center;

    &:hover {
      transform: scale(1.1,1.1);
      transition: 0.25s;
    }
  }

  #productPage {

    #productText p {
      margin: 3vw 25vw;
      text-align: start;
    }
  }

  #productFilter {
    display: flex;
    justify-content: center;
    height: 125px;
    width: 100%;
    background-color: $moerkegroen;
    color: $hvid;
    padding: 45px 75px;

    p {
      padding-right: 25px;
      height: 40px;
      line-height: 40px;
      margin: 0;
      width: auto;
    }

    select {
      background-color: $hvid;
      color: $moerkegroen;
      height: 40px;
      width: 175px;
    }
  }

  #categoryBox {
    width: 100vw;

    img {
      width: 25vw;
    }

    .hoverBox {
      position: relative;
    }

    .categoryButton {
      background-color: transparent;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: .25s ease;

      button {
        margin: 25vh 100px;
        @include button;
      }
    }

    .hoverBox:hover .categoryButton{
      opacity: 1;
    }

    .proteinCategory {
      width: 25vw;
      height: 125px;

      p {
        margin-top: 15px;
      }
    }
  }

  #Product{
    font-size: 48pt;
  }

  #boxProduct {
    background-position: initial;
  }

  .fa-instagram, .fa-facebook-square {
    transition: 0.25s;

    &:hover {
      transform: scale(1.1,1.1);
      transition: 0.25s;
    }
  }
}

@media print {
  // Alt der gælder for print specifikt
}